-
	menu = [
		{	
			"title": "Фотогора",
			"link": "/",
			"img": "photo",
		},
		{	
			"title": "Клуб",
			"link": "/",
			"img": "club",
		},
		{	
			"title": "Форум",
			"link": "/",
			"img": "forum",
		},
		{	
			"title": "Блог",
			"link": "/",
			"img": "blog",
		},
		{	
			"title": "Магазин",
			"link": "/",
			"img": "market",
		},
		{	
			"title": "Вход",
			"link": "/",
			"img": "signin",
		},
	],
	badges = [
		{
			"title": "Свежие темы",
		},
		{
			"title": "Лучшие фото",
		},
		{
			"title": "Блоги",
		},
		{
			"title": "Новости магазина",
		},
	],
	mainNews = [
		{
			"img": "1",
			"title": "Готовится к выпуску адаптер Megadap ETZ21 Pro для установки оптики Sony на камеры Nikon Z",
			"date": "10.08.2023",
			"badge": "Клуб",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "2",
			"title": "Sirui выпустит свои первые автофокусные объективы для Sony E, Fujifilm X и Nikon Z",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "3",
			"title": "Аккумуляторы для камер от SmallRig",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "4",
			"title": "Светодиодная лампа iFootage Anglerfish SL1 130DNA",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "5",
			"title": "Студенты запустили Insta360 X3 на высоту 32 км",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
	],
	gallery = [
		{
			"views": "452",
			"likes": "56",
		},
		{
			"views": "452",
			"likes": "56",
		},
		{
			"views": "452",
			"likes": "56",
		},
		{
			"views": "452",
			"likes": "56",
		},
		{
			"views": "452",
			"likes": "56",
		},
		{
			"views": "452",
			"likes": "56",
		},
	],
	products = [
		{
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"price": "2650",
			"badge": "-10%"
		},
		{
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"price": "2650",
			"badge": "-10%"
		},
		{
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"price": "2650",
			"badge": "-10%"
		},
		{
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"price": "2650",
			"badge": "-10%"
		},
		{
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"price": "2650",
			"badge": "-10%"
		},
		{
			"title": "Falcon Eyes CB-BS300 перекладина телескопическая 3 м",
			"price": "2650",
			"badge": "-10%"
		},
	],
	asideNews = [
		{
			"img": "6",
			"title": "Sirui выпустит свои первые автофокусные объективы для Sony E, Fujifilm X и Nikon Z",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "7",
			"title": "Светодиодная лампа iFootage Anglerfish SL1 130DNA",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "8",
			"title": "Светодиодная лампа iFootage Anglerfish SL1 130DNA",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "9",
			"title": "Светодиодная лампа iFootage Anglerfish SL1 130DNA",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "10",
			"title": "Светодиодная лампа iFootage Anglerfish SL1 130DNA",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56"
		},
	],
	smallNews = [
		{
			"title": "Светодиодная лампа iFootage Anglerfish SL1 130DNA",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56",
			"msg": "56",
		},
		{
			"title": "Студенты запустили Insta360 X3 на высоту 32 км",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56",
			"msg": "56",
		},
		{
			"title": "Аккумуляторы для камер от SmallRig",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56",
			"msg": "56",
		},
		{
			"title": "Студенты запустили Insta360 X3 на высоту 32 км",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56",
			"msg": "56",
		},
		{
			"title": "Аккумуляторы для камер от SmallRig",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"date": "10.08.2023",
			"eye": "452",
			"likes": "56",
			"msg": "56",
		},
	],
	resultNews = [
		{
			"img": "1",
			"title": "Готовится к выпуску адаптер Megadap ETZ21 Pro для установки оптики Sony на камеры Nikon Z",
			"date": "10.08.2023",
			"badge": "Клуб",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"eye": "452",
			"likes": "56"
		},
		{
			"title": "Компактная светодиодная лампа INKEE GC60",
			"date": "10.08.2023",
			"badge": "Блог",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"eye": "452",
			"likes": "56"
		},
		{
			"title": "Компактная светодиодная лампа INKEE GC60",
			"date": "10.08.2023",
			"badge": "Магазин",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "2",
			"title": "Готовится к выпуску адаптер Megadap ETZ21 Pro для установки оптики Sony на камеры Nikon Z",
			"date": "10.08.2023",
			"badge": "Клуб",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "3",
			"title": "Готовится к выпуску адаптер Megadap ETZ21 Pro для установки оптики Sony на камеры Nikon Z",
			"date": "10.08.2023",
			"badge": "Блог",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"eye": "452",
			"likes": "56"
		},
		{
			"img": "4",
			"title": "Готовится к выпуску адаптер Megadap ETZ21 Pro для установки оптики Sony на камеры Nikon Z",
			"date": "10.08.2023",
			"badge": "Магазин",
			"descr": "Это будет уже третье поколение адаптеров Megadap для использования оптики для Sony E-mount на камерах Nikon. Использование предыдущей модели (Megadap ETZ21, в настоящее время продается за $249)...",
			"eye": "452",
			"likes": "56"
		},
	]