aside.aside 
	.aside-result
		a(href="/" data-da=".result__body, 991.98, 3").result-banner
			.result-banner__image
				img(src="images/result_banner.png", alt="Баннер")
			.result-banner__text 352х600