footer.footer
	div.container
		.footer__body
			a(href="/").footer__logo.logo-footer
				picture
					source(srcset="images/footer-logo_pc.svg" media="(min-width: 767.98px)")
					source(srcset="images/footer-logo_mobile.svg" media="(min-width: 320px)")
					img(src="images/footer-logo_pc.svg", alt="логотип")
			div.footer__copyright Все права защищены &copy; 2023