.search
	.container
		form.search-form(action="result.html")
			.search-form__inner 
				.search-form__field
					input(type="text" placeholder="Поиск FOTO.RU" autocomplete="off").search-form__input
				button(type="button").search-form__button
					span
					span
					span